~*
target
/target
/target/
\target
\target\
target\
target/
tomcat
node_modules
node
velocity.log
cm-server/src/main/generated-resources
.idea/
*.iml
.DS_Store
cm-server/node_modules.tar.gz
cm-server/node.tar.gz
.settings
.classpath
.project
/lib/
/out/
profiles.xml
.factorypath
